{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>::Bluemoon:: Signin </title>
  <link rel="icon" href="../favicon.ico" type="image/x-icon"> <!-- Favicon-->

  <!-- project css file  -->
  <link rel="stylesheet" href="{% static 'adminAssets/assets/css/ebazar.style.min.css' %}">
</head>

<body>
  <div id="ebazar-layout" class="theme-blue">

    <!-- main body area -->
    <div class="main p-2 py-3 p-xl-5 ">

      <!-- Body: Body -->
      <div class="body d-flex p-0 p-xl-5">
        <div class="container-xxl">

          <div class="row g-0">
            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center rounded-lg auth-h100">
              <div style="max-width: 25rem;">
                <div class="text-center mb-5">
                  <i class="bi bi-bag-check-fill  text-primary" style="font-size: 90px;"></i>
                </div>
                <div class="mb-5">
                  <h2 class="color-900 text-center">A few clicks is all it takes.</h2>
                </div>
                <!-- Image block -->
                <div class="">
                  <img src="{% static 'adminAssets/assets/images/login-img.svg' %}" alt="login-img">
                </div>
              </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
              <div class="w-100 p-3 p-md-5 card border-0 shadow-sm" style="max-width: 32rem;">
                <!-- Form -->
                <form class="row g-1 p-3 p-md-4" action="{% url 'adminLogin' %}" method="POST">
                  {% csrf_token %}
                  <div class="col-12 text-center mb-5">
                    <h1>Sign in</h1>
                    <span>To gain access to our dashboard.</span>
                  </div>
                  <div class="col-12">
                    <div class="mb-2">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control form-control-lg" placeholder="Enter your username"
                        name="admin_username">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-2">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control form-control-lg" placeholder="***************"
                        name="admin_password">
                    </div>
                    {% for message in messages %}
                    {% if "admin_invalid_login" in message.tags %}
                    <p class="pt-2" style="color: red;font-size:12px;font-style: italic;">{{message}}</p>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <div class="col-12">
                  </div>
                  <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-lg btn-block btn-info lift text-uppercase" atl="signin">SIGN
                      IN</button>
                  </div>
                </form>
                <!-- End Form -->

              </div>
            </div>
          </div> <!-- End Row -->

        </div>
      </div>

    </div>

  </div>

  <!-- Jquery Core Js -->
  <script src="{% static 'adminAssets/assets/bundles/libscripts.bundle.js' %}"></script>
</body>

<!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/ui-elements/auth-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Nov 2021 13:14:27 GMT -->

</html>