{% extends 'admin/adminBase.html' %}
{% block content %}
{% load static %}
<!-- Body: Body -->
<div class="body d-flex py-3">
  <div class="container-xxl">

    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <h3 class="fw-bold mb-0">Categories Add</h3>

        </div>
      </div>
    </div> <!-- Row end  -->

    <div class="row g-3 mb-3">

      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
            <h6 class="mb-0 fw-bold ">Basic information</h6>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'categoryAdd' %}">
              {% csrf_token %}
              <div class="row g-3 align-items-center">
                <div class="col-md-6">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" name="category_name">
                </div>
                <div class="col-md-12">
                  <label class="form-label">Category Description</label>
                  <div id="editor">
                    <input type="text" class="form-control" name="category_description">
                  </div>
                </div>
              </div>
              <div class="pt-4">
                <label class="form-label">Parent category Select</label>
                <select class="form-select" size="3" aria-label="size 3 select example " name="parent_category_id">
                  {% for category in category_data %}
                  <option value="{{category.id}}">{{category.category_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit"
                class="btn btn-primary py-2 px-5 text-uppercase btn-set-task w-sm-100 mt-4">Save</button>
            </form>

          </div>
        </div>
      </div>
    </div><!-- Row end  -->

  </div>
</div>
{% endblock %}