{% extends 'admin/adminBase.html' %}
{% block content %}

<div class="container">
  <form onsubmit=" return CheckForm()" action="{% url 'offerEdit' offer.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-4">
      <label for="product_name" class="form-label">offer Name</label>
      <input type="text" value="{{offer.offer_name}}" class="form-control" required name="offer_name"
        id="product_name" />
    </div>
    <div class="mb-4">
      <label for="product_slug" class="form-label">Offer Percentage</label>
      <input onchange="percentageCheck()" type="number" value="{{offer.percentage}}" class="form-control" required
        name="offer_percentage" id="offer_percentage" />
    </div>
    <div class="mb-4">
      <label class="form-label">Expiry Date</label>
      <input type="date" placeholder="Expiry date" class="form-control" name="expiry_date" id="expiry_date" />
    </div>
    <div class="mb-4">
      <label class="form-label">Expiry Time</label>
      <input type="time" placeholder="Expiry date" class="form-control" name="expiry_time" id="expiry_time" />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Make Changes</button>
    </div>
  </form>
</div>

<script>
  function percentageCheck() {
    value = document.getElementById('offer_percentage').value;
    if (value > 99) {
      alert("Offer cannot be more than 99")
      return false;
    } else if (value < 1) {
      alert("Offer cannot be less than 1 ")
      return false;
    }
  }

  //date validation
  $(function () {

    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate() + 1;
    var year = dtToday.getFullYear();
    var time = dtToday.getHours() + ":" + dtToday.getMinutes();
    if (month < 10)

      month = '0' + month.toString();

    if (day < 10)

      day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day

    console.log(maxDate);

    $('#expiry_date').attr('min', maxDate);


  });



  function CheckForm() {
    percentageCheck = percentageCheck()
    if (percentageCheck == true) {
      return true;
    } else {
      return false;
    }
  }
</script>

{% endblock %}