{% extends 'admin/adminBase.html' %}
{% load static %}

{% block content %}
<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">

    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <h3 class="fw-bold mb-0">Parent Categories</h3>
          <button type="submit" class="btn btn-primary py-2 px-5 btn-set-task w-sm-100"> <a style="color: white;"
              href="{% url 'ParentCategoryAdd' %}">AddNew</a></button>
        </div>
      </div>
    </div> <!-- Row end  -->
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body">
            <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
              <thead>

                <tr>
                  <th>Id</th>
                  <th>Category Name</th>
                  <th>Description</th>
                  <!-- <th>Category Type</th> -->
                  <th>Edit Category</th>
                  <th>Delete Category</th>>
                </tr>

              </thead>
              <tbody>
                {% for data in parentData %}
                <tr>
                  <td><strong>{{ data.id }}</td>
                  <td>
                    <a href="{% url 'parentCategoryEdit' data.id %}">
                      <span class="fw-bold ms-1">{{ data.category_name }}</span>
                    </a>
                  </td>
                  <td>{{ data.descrption }}</td>

                  <!-- <td>Sub Category</td> -->
                  <td>
                    <!-- edit category -->
                    <div class="btn-group ps-4 " role="group" aria-label="Basic outlined example">
                      <a href="{% url 'parentCategoryEdit' data.id %}"><button type="button"
                          class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#"><i
                            class="icofont-edit text-success"></i></button></a>
                    </div>
                  </td>
                  <td>
                    <!-- delete category -->
                    <div class="btn-group ps-4 " role="group" aria-label="Basic outlined example">
                      <a onclick="return confirm('Are you sure?')"
                        href="{% url 'parentCategoryDelete' data.id %}"><button type="button"
                          class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#"><i
                            class="icofont-ui-delete text-danger"></i></button></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- Row End -->
  </div>
</div>
{% block additions %}

{% endblock %}
<!-- Jquery Core Js -->
<script src="{% static 'adminAssets/assets/bundles/libscripts.bundle.js' %}"></script>

<!-- Plugin Js-->
<script src="{% static 'adminAssets/assets/bundles/dataTables.bundle.js' %}"></script>

<!-- Jquery Page Js -->
<script src="{% static 'adminAssets//js/template.js' %}"></script>
<script>
  // project data table
  $(document).ready(function () {
    $('#myProjectTable')
      .addClass('nowrap')
      .dataTable({
        responsive: true,
        columnDefs: [
          { targets: [-1, -3], className: 'dt-body-right' }
        ]
      });
    $('.deleterow').on('click', function () {
      var tablename = $(this).closest('table').DataTable();
      tablename
        .row($(this)
          .parents('tr'))
        .remove()
        .draw();

    });
  });
</script>
{% endblock%}