{% load static %}
<footer class="footer bg-dark">
  <div class="footer-middle">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Contact Info</h4>
            <ul class="contact-info">
              <li>
                <span class="contact-info-label">Address:</span>info-park , City, India
              </li>
              <li>
                <span class="contact-info-label">Phone:</span><a href="tel:">9562127608</a>
              </li>
              <li>
                <span class="contact-info-label">Email:</span> <a
                  href="mailto:mail@example.com">niyastk9562@gmail.com</a>
              </li>
              <li>
                <span class="contact-info-label">Working Days/Hours:</span> Mon - Sun / 9:00 AM
                - 8:00 PM
              </li>
            </ul>
            <!-- End .social-icons -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Customer Service</h4>

            <ul class="links">
              <li><a href="#">Help & FAQs</a></li>
              <li><a href="#">Order Tracking</a></li>
              <li><a href="#">Shipping & Delivery</a></li>
              <li><a href="#">Orders History</a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
          <!-- End .widget -->
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Thank you for scrolling</h4>
            <p>Make sure you made your day worthy by ordering our products</p>
            </ul>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->


        <!-- End .col-lg-3 -->

        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-middle -->
  <!-- End .container -->
</footer>