{% load static %}
<!DOCTYPE html>
<html lang="en">


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>BLUE MOON</title>

<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Porto - Bootstrap eCommerce Template">
<meta name="author" content="SW-THEMES">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'userAssets/assets/images/icons/favicon.png' %}">

{% block head %}
{% endblock %}
<script>
  WebFontConfig = {
    google: {
      families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800']
    }
  };
  (function (d) {
    var wf = d.createElement('script'),
      s = d.scripts[0];
    wf.src = '{% static 'userAssets / assets / js / webfont.js' %}';
    wf.async = true;
    s.parentNode.insertBefore(wf, s);
  })(document);
</script>

<!-- Plugins CSS File -->
<link rel="stylesheet" href="{% static 'userAssets/assets/css/bootstrap.min.css' %}">

<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'userAssets/assets/css/demo4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userAssets/assets/vendor/fontawesome-free/css/all.min.css' %}">

</head>

<body>
  <!-- navbar -->
  {% include 'includes/navbar.html' %}

  {% block content %}
  <!-- body content -->
  {% endblock %}
  <!-- overlay -->
  <div class="loading-overlay">
    <div class="bounce-loader">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div class="mobile-menu-overlay"></div>
  <!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li><a href="{% url  'home' %}">Home</a></li>
          <!-- <li>
            <a href="category.html">Categories</a>
            <ul>
              <li><a href="category.html">Full Width Banner</a></li>
              <li><a href="category-banner-boxed-slider.html">Boxed Slider Banner</a></li>
              <li><a href="category-banner-boxed-image.html">Boxed Image Banner</a></li>
              <li><a href="https://www.portotheme.com/html/porto_ecommerce/category-sidebar-left.html">Left
                  Sidebar</a></li>
              <li><a href="category-sidebar-right.html">Right Sidebar</a></li>
              <li><a href="category-off-canvas.html">Off Canvas Filter</a></li>
              <li><a href="category-horizontal-filter1.html">Horizontal Filter 1</a></li>
              <li><a href="category-horizontal-filter2.html">Horizontal Filter 2</a></li>
              <li><a href="#">List Types</a></li>
              <li><a href="category-infinite-scroll.html">Ajax Infinite Scroll<span class="tip tip-new">New</span></a>
              </li>
              <li><a href="category.html">3 Columns Products</a></li>
              <li><a href="category-4col.html">4 Columns Products</a></li>
              <li><a href="category-5col.html">5 Columns Products</a></li>
              <li><a href="category-6col.html">6 Columns Products</a></li>
              <li><a href="category-7col.html">7 Columns Products</a></li>
              <li><a href="category-8col.html">8 Columns Products</a></li>
            </ul>
          </li> -->
          <!-- <li>
            <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
            <ul>
              <li>
                <a href="wishlist.html">Wishlist</a>
              </li>
              <li>
                <a href="cart.html">Shopping Cart</a>
              </li>
              <li>
                <a href="checkout.html">Checkout</a>
              </li>
              <li>
                <a href="dashboard.html">Dashboard</a>
              </li>
              <li>
                <a href="login.html">Login</a>
              </li>
              <li>
                <a href="forgot-password.html">Forgot Password</a>
              </li>
            </ul>
          </li> -->
        </ul>

        <ul class="mobile-menu">

          <li><a href="{% url 'wishlist' %}">My Wishlist</a></li>
          <li><a href="{% url 'cart' %}">Cart</a></li>
          {% if user.id is None %}
          <li><a href="{% url 'signUp' %}">Log In</a></li>
          {% else %}
          <li><a href="{% url 'userDashboard' %}">My Account</a></li>
          <li><a href="{% url 'signOut' %}">Log Out</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- End .mobile-nav -->

      <!-- <form class="search-wrapper mb-2" action="#">
        <input type="text" class="form-control mb-0" placeholder="Search..." required />
        <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
      </form> -->

      <!-- <div class="social-icons">
        <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
        </a>
        <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
        </a>
        <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
        </a>
      </div> -->
    </div>
    <!-- End .mobile-menu-wrapper -->
  </div>
  <!-- End .mobile-menu-container -->

  <div class="sticky-navbar">
    <div class="sticky-info">
      <a href="home.html">
        <i class="icon-home"></i>Home
      </a>
    </div>
    <div class="sticky-info">
      <a href="category.html" class="">
        <i class="icon-bars"></i>Categories
      </a>
    </div>
    <div class="sticky-info">
      <a href="wishlist.html" class="">
        <i class="icon-wishlist-2"></i>Wishlist
      </a>
    </div>
    <div class="sticky-info">
      <a href="login.html" class="">
        <i class="icon-user-2"></i>Account
      </a>
    </div>
    <div class="sticky-info">
      <a href="cart.html" class="">
        <i class="icon-shopping-cart position-relative">
          <span class="cart-count badge-circle">3</span>
        </i>Cart
      </a>
    </div>
  </div>



  <button title="Close (Esc)" type="button" class="mfp-close">
    ×
  </button>
  </div>
  <!-- End .newsletter-popup -->

  <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.js"></script>

  <!-- Plugins JS File -->
  <script src="{% static 'userAssets/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'userAssets/assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'userAssets/assets/js/optional/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'userAssets/assets/js/plugins.min.js' %}"></script>
  <script src="{% static 'userAssets/assets/js/jquery.appear.min.js' %}"></script>



  <!-- Main JS File -->
  <script src="{% static 'userAssets/assets/js/main.min.js' %}"></script>


  {% include 'includes/footer.html' %}